:disabled {
	color: #ccc;
	border-color: #ccc;
	
}
:disabled:hover {
	color: #ccc;
	background-color: transparent;
	border-color: #ccc;
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-family: 'SourceSansPro';
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	overflow: hidden;
}
.clearAfter:after {
	content:'';
    display:block;
    clear: both;
}
button {
	background-color: transparent;
	border: none;
	
	font-size: 1em;
	font-family: 'BebasNeue';
}
button:hover {
	color: #FFFFFF;
}
#login input {
	width: 200px;
}
#tipBox {
	position: absolute;
	width: 200px;
	
	background-color: #FFFFFF;
	z-index: 1000;
	display: none;
	border: solid 1px black;
	padding: 10px;
}
#tipTitle {
	margin: 0 0 10px 0;
}
.tooltip {
	z-index: 101;
	text-align: center;
	font-size: .8em;
	cursor: default;
	display: inline-block;
	margin-left: 10px;
	width: 30px;
	height: 30px;
	background-image: url('../img/icons/Fragezeichen-01.png');
	background-size: 30px 30px;
	background-position: center;
}
/*
 *	Grundklassen 
 */
.row {
	display: block;
}

/*
 *	Drag Klassen
 */
#menuWrapper {
	width: 100%;
	position: absolute;
	margin: 0 0 0 0;
	height: 100vh;
	background-color: #2F2E30;
	background-image: url("../img/Startbild-01.png");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-transition: margin 1s;
	-moz-transition: margin 1s;
	-o-transition: margin 1s;
	transition: margin 1s;
}
#menuBar {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 1;

}
#menuBar ul li {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: contain;
	-webkit-transition: top 1s, background-color .2s;
	-moz-transition: top 1s, background-color .2s;
	-o-transition: top 1s, background-color .2s;
	transition: top 1s, background-color .2s;
	cursor: pointer;
}

#btn_toggleMenu {
	background-image: url("../img/icons/arrow_down.png");
}
#btn_tutorial {
	background-image: url("../img/icons/tutorial.png");
}
#btn_toggleSound {
	background-image: url("../img/icons/soundOn.png");
}
#btn_profile {
	background-image: url("../img/icons/profile.png");
}
#btn_pause {
	background-image: url("../img/icons/pause.png");
}
#btn_addLeafs, #btn_addStone, #btn_addFood {
	width: 25px;
	height: 25px;
	background-image: url("../img/icons/plus.png");
	background-size: contain;
	background-repeat: no-repeat;
}
#btn_addLeafs:hover, #btn_addStone:hover, #btn_addFood:hover {
	background-image: url("../img/icons/plusActive.png");
}
#gameWrapper {
	margin: 100vh 0 0 0;
	width: 100%;
	position: absolute;
	-webkit-transition: margin 1s;
	-moz-transition: margin 1s;
	-o-transition: margin 1s;
	transition: margin 1s;
	background-image: url("../img/game_background1.png");
	background-position: bottom left;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	
}
.draggable {
	position: absolute;	
	background: #ffffff;
	border: solid 1px #ccc;
	top: 0;
	left: 0;
}
.draggable .handle, .draggable .handleSub{
	padding-left: 50px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 15px center;
	text-align: left;

	background-image: url('../img/icons/Menu-Down.png');
}
.draggable.visible .handle, .draggable .handleSub.visible {
	background-image: url('../img/icons/Menu-Up.png');
}
.handle, .handleSub {
	height: 20px;
	line-height: 20px;
	color: #000; 
	border: solid 1px #ccc;
	margin: 0;
	padding: 0 0 0 10px;
	cursor: move;
	font-family: 'SourceSansPro';
	background-color: #A0D9F4;
	font-size: 1em;
	font-weight: bold;
}
.draggable .iconCost {
	width: 10px;
	height: 10px;
}

.chamberTable th, .chamberTable td, #jobTable th, #jobTable td {
	padding: 2px 5px 2px 5px;
}
#jobTable input {
	width: 80px;
}
#resTable th, #resTable td {
	width: 180px;
	text-align: center;
	border-right: solid .5px #ccc;
	
}
#resTable th {
	padding: 5px;
	
}


.resIcons {
	width: 100px;
	height: 100px;
	
	background-size: contain;
}
#resLeafs {
	background-image: url("../img/icons/Blätter.png");
}
#resStone {
	background-image: url("../img/icons/Steine.png");
}
#resFood {
	background-image: url("../img/icons/Nahrung.png");
}
#resDump {
	background-image: url("../img/icons/Deponie.png");
}
#jobImgHunt {
	background-image: url('../img/icons/Ameisen_jagen.png');
}
#jobImgLeafs {
	background-image: url('../img/icons/Ameisen_Blätter.png');
}
#jobImgStone {
	background-image: url('../img/icons/Ameisen_Steine.png');
}
#jobImgHatch {
	background-image: url('../img/icons/Ameisen_brüten.png');
}
#jobImgClean {
	background-image: url('../img/icons/Ameisen_putzen.png');
}
.resText {


}
.jobName {
	padding: 0 10px 0 10px;
}
.setButtons {
	background-image: url("../img/icons/button_build.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
}
.setButtons:hover {
	background-image: url("../img/icons/button_buildActive.png");
	
}
.resBarWrapper {
	width: 150px;
}
#leafFill, #stoneFill, #foodFill {
	background-color: red;
	width: 90%;
	margin: 0 auto;
	height: 15px;
	border: solid 1px black;
}
#dumpFill {
	background-color: green;
	width: 90%;
	margin: 0 auto;
	height: 15px;
	border: solid 1px black;
}
#leafBar, #stoneBar, #foodBar {
	background-color: green;
	width: 50%;
	height: 14px;
	
}
#dumpBar {
	background-color: red;
	width: 50%;
	height: 14px;
	
}
#dumpHill {
	
}	
#dumpHillBar {
	background-color: green;
}
.plus, .minus {
	background-size: contain;
	background-repeat: no-repeat;
}
.plus {
	background-image: url("../img/icons/Plus.png");
}
.plus:hover {
	background-image: url("../img/icons/PlusActive.png");
}
.plus:disabled {
	background-image: url("../img/icons/PlusDisabled.png");
}
.minus {
	background-image: url("../img/icons/Minus.png");
}
.minus:hover {
	background-image: url("../img/icons/MinusActive.png");
}
.minus:disabled {
	background-image: url("../img/icons/MinusDisabled.png");
}
/*
 *	Menü Styles
 */
.jobCount, .buildCost {
	min-width: 50px;
	text-align: right;
}
.chamberTable {
	border-bottom: solid 1px #ccc;
	padding: 0 10px 0 10px;
}
.chamberName {
	min-width: 150px;
	text-align: left;
}

/**
 * Lightbox Klassen
 */
.lightboxWrapper {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100vh;
	width: 100%;
	z-index: 1000;

	background-color: rgba(0, 0, 0, 0.6);
}
.lightboxWrapper .lightboxContent {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 500px;
	width: 400px;
	margin-top: -250px;
	margin-left: -200px;
	padding: 20px;

	background: white;
}
.lightboxWrapper .lightboxContent span{
	display: inline;
}
.lightboxWrapper .lightboxContent *{
	display: block;
}
.lightboxWrapper .lightboxContent input {
	margin-bottom: 15px;
}
#closeLightbox, #openLightboxBuildingUpgradeView {
	display: none;
}
.lightboxImageWrapper {
	height: 200px;
	width: 300px;
}
.lightboxImage {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}
.lightboxWrapper#incidentView .lightboxContent .upgradeContent ,
.lightboxWrapper#buildingUpgradeView .lightboxContent .upgradeContent {
	margin: 10px 0;
	display: inline-block;
	text-align: left;
}
.lightboxWrapper#incidentView .lightboxContent,
.lightboxWrapper#buildingUpgradeView .lightboxContent {
	bottom: 0;
	left: 0;
	top: initial;
	height: initial;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	background: none;
}
.lightboxWrapper#incidentView .lightboxContent .lightboxImageWrapper, 
.lightboxWrapper#buildingUpgradeView .lightboxContent .lightboxImageWrapper { 
	height: 170px;
}

.backgroundBuildingUpgradeView{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}
.fl_left.upgradeBuildingViewRight {
	display: block;
	float: left;
	width: 500px;
	margin-left: 15px;

	font-size: 12px;
}
#buildingUpgradeView, #incidentView {
	background: none;
}
#buildingUpgradeViewTitle, #incidentTitle{
	font-size: 20px;
	margin-bottom: 20px;
}
.buildingUpgradeViewLevelDiv {
	margin: 15px 0;
}
.fl_left {
	display: block;
	float: left;
}
.antGreenButton {
	display: block;
	color: white;
	background-color: green;
	padding: 6px 15px;
}
.antGreenButton {
	border-radius: 0;
	color:white;
	background-color: #84BB68;
	border: none;
	width: auto;
	margin-top: 10px;
	padding: 8px 25px;
	font-size: 20px;
}

.lightboxContent .antButton {
	width: 300px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	margin: 10px auto;

}

/**
 * Lightbox Klick Events
 */
#buildingUpgradeView:target, #incidentView:target {
	display:block;
}

/**
 * 	Intro Box (Tutorial)
 */
#loginBox {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 300;
	background: rgba(255, 255, 255, .5);
	text-align: center;
	
}
#login, #start, #pageOne, #pageTwo, #pageThree, #pageFour, #pageFive{
	margin: 10vh auto;
	max-width: 600px;
	max-height: 600px;
	width: 70%;
	height: 80vh;
	background-color: rgba(255, 255, 255, .8);
	padding: 2% 3% 0 3%;	
	text-align: center;
	
}
.tutBox {
	width: 50%;
	height: 25%;
	float: left;
	border: solid 1px black;
	font-size: .8em;
	text-align: left;
}
.tutImgBox {
	width: 30%;
	height: 100%;
	float: left;
}
.tutImages {
	
	height: 100%;
	padding: 15% 0% 15% 0%;
}
.tutText {
	width: 70%;
	padding: 15px 0px 0px 0px;
	float: left;
}
#start {
	display: none;
	text-align: left;
}
#btnWrapper {
	text-align: center;
}
.boxHead{
	width: 100%;
	padding: 0 0 30px 0;
}
#willkommen, .tutorial {
	max-height: 50px;
	width: auto;
	margin: 0 auto;
	display: block;
}

#login_form {
	padding: 30px 0 30px 0;
}

#introBox {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 250;
	background: rgba(255, 255, 255, .5);
	
}
#toggleIntro {
	position: fixed;
	top: 0;
	z-index: 300;
}
#quitIntroBox {
	max-width: 600px;
	width: 80%;
	margin: 0 auto;
}
#quitIntro {
	float: right;
	z-index: 300;
	width: 40px;
	height: 40px;
	background-image: url("../img/icons/close.png");
	background-size: contain;
}

#pagesWrapper {
	margin: 5vh auto;
	width: 100%;
	height: 100%;
}
#prevNextWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 45%;
}
#prevNextRelative {
	max-width: 680px;
	width: 80%;
	margin: 0 auto;
}
#prev, #next {
	width: 40px;
	height: 40px;
	background-size: contain;
}
#prev {
	background-image: url("../img/icons/arrow_left.png");
	display: none;
	float: left;
}
#next {
	background-image: url("../img/icons/arrow_right.png");
	float: right;
}
.introHead {
	font-size: 1.6em;
}
.introSub {
	font-size: 1.2em;
}




#imgView {
	position: fixed;
	z-index: 301;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .5);
	display: none;
}
#imgSrc {
	width: 150vh;
	height: 90vh;
	
	max-width: 800px;
	max-height: 600px;
	background-color: #FFFFFF;
	margin: 5vh auto;
	background-image: url("../img/test.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	
}

/**
 * Klassen zur Darstellung von des Build Menu
 */
.buildMenu .buildMenuBuilding{
	padding-left: 50px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;

	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 35px 35px;
	background-color: #DEF2BF;
}

.buildMenu .buildMenuBuilding.disabled{
	background-color: white;
}
#btn_startTut {
	width: 150px;
	height: 65px;
	background-image: url('../img/icons/ButtonTutorial.png');
	background-size: contain;
	background-repeat: no-repeat;
}
#btn_startTut:hover {
	background-image: url('../img/icons/ButtonTutorialActive.png');
}
#btn_startGame {
	width: 150px;
	height: 65px;
	background-image: url('../img/icons/ButtonSpielen.png');
	background-size: contain;
	background-repeat: no-repeat;
	
}
#btn_startGame:hover {
	background-image: url('../img/icons/ButtonSpielenActive.png');
}
.antButton {
	width: 150px;
	height: 35px;
	border-radius: 0;
	font-size: 1em;
	line-height: 1em;
	text-decoration: none;
	color: #000;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../img/icons/button_build.png');
}
.antButton:hover{
	color: #000;
	background-image: url('../img/icons/button_buildActive.png');
}
.antButton:disabled{
	background-image: url('../img/icons/button_buildDisabled.png');
}
.buildMenu .buildingName {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
}
.buildMenu table td {
	min-width: 50px;
}
.iconLeafs, .iconStone {
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: right center;

	width: 22px;
	height: 22px;
}
.iconLeafs {
	background-image: url('../img/icons/Blätter.png');
}
.iconStone {
	background-image: url('../img/icons/Steine.png');
}
.broodChamberWrapper {
	background: url('../img/icons/buildings/hatch.png');
}
.mushroomChamberWrapper {
	background: url('../img/icons/Pilzkammer.png');
}
.storageWrapper {
	background: url('../img/icons/buildings/storage.png');
}
.pantryWrapper {
	background: url('../img/icons/Nahrung.png');
}
.dumpingGroundWrapper {
	background: url('../img/icons/buildings/dump.png');
}

/**
 * Ende Darstellung Build Menu
 */
