html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.draggable {
	position: absolute;	
	background: #ffffff;
	border: solid 1px #ccc;
	top:0;
	left:0;
}
.handle {
	min-height: 20px;
	color: #FFFFFF;
	background: #000000;
	border: solid 1px #ccc;
	margin: 0;
	padding: 0 0 0 10px;
	cursor: move;
}
#resTable th, #resTable td {
	padding: 0 20px 0 20px;
}
.jobName {
	padding: 0 10px 0 10px;
	
}
.jobCount, .buildCost {
	min-width: 50px;
	text-align: right;
}
.chamberTable {
	border-bottom: solid 1px #ccc;
	padding: 0 10px 0 10px;
}
.chamberName {
	min-width: 150px;
	text-align: left;
}
/**
 * custom style
 */
body {
	overflow: hidden;
}